<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-color: #E45043;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>Why modern marketers need to be full-stack integrators</h1>
                    <h2 class="subheading">We're marketing in a connected, digital world.</h2>
                    <span class="meta">Posted by <a href="#">Austin</a> on March 24, 2016</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

<blockquote>
<p>With the complexity of today&#8217;s marketing stack, modern marketers need to be full-stack integrators: combining deep-level brand management with the ability to deliver an integrated consumer acquisition &amp; retention process across a layer of technologies.</p>
</blockquote>
<p>A great <a href="http://techcrunch.com/2014/11/08/the-rise-and-fall-of-the-full-stack-developer/">article on TechCrunch</a> by <a href="https://twitter.com/peteryared">Peter Yared</a> a few years ago on the rise and fall of the full-stack developer mirrors the approach marketers should take: modern marketers should become a master integrators, not end-to-end experts. </p>

<h2 id="fullstackdevelopmentbecomesfullstackintegration">Full Stack Development becomes Full Stack Integration</h2>

<p>Once upon a time, websites were built end-to-end by a single programmer. As technology progressed and became difficult to manage, development was split across functional experts. Web technologies converged and became more manageable during Web 2.0 and single developers could employ an integrated stack to once again, create the entire application. Master LAMP, Rails, or MEAN and <a href="http://www.sitepoint.com/full-stack-developer/">you were golden</a>. </p>

<p>Not anymore. With machine learning, VR, native mobile platforms, advanced security, analytics, next-gen languages &amp; DevOps responsibilities at various levels of deployment, a &#8216;full-stack&#8217; developer can&#8217;t be expected to implement, let alone master the technology set available to modern applications. We need experts in these fields.</p>

<blockquote>
<p>The full-stack developer now needs to become the full-stack integrator.
In this brave new world, it is critical to have at least one person with at least a functional understanding of each of the composite parts who is also capable of connecting various tiers and working with each expert so that a feature can actually be delivered. In a way, these tier-connecting, bridge-building software architects — who are likely experts in only one or a couple of tiers — <strong>are less full stack developer and much more full stack integrator.</strong>
- Peter Yared [emphasis added]</p>
</blockquote>

<p>The same can be said of marketing. Master traditional/social/paid/content marketing and you&#8217;re a one-stop shop. Not anymore. We need to be customer-centric architects that can integrate technologies to create differentiating customer experiences. </p>

<h2 id="theneedformarketingstackintegrators">The Need for Marketing Stack Integrators</h2>

<p>Modern marketers need to keep a laser-focus on customers but add the ability to integrate a complex technology set to provide compelling experiences. </p>

<p>A recent example given at an Adobe Mobile presentation outlines the principle. A major hotel chain launched a large-scale marketing campaign aimed at their most loyal customers. The messaging was simple: check-in to the hotel with our app and be entered to win a million points. </p>

<p>The only problem? They hid the promotion behind a generic app experience. Follow the link from your <em>reservation email</em> and you&#8217;d be sent to the app front screen, which asked you to make, you guessed it, <em>another</em> room reservation. Only after persistent effort to navigate the app would you be able to locate the feature to check in. </p>

<p>Couldn&#8217;t there be a better way to integrate our mobile strategy with our marketing efforts to delight our most loyal customers? </p>

<p>In this example, the marketing strategy made sense: In order to retain our most valuable customers (those who book through our website) we will campaign to get our app on their device to encourage future bookings and we will encourage app engagement by providing added value (skip the line, check in from the phone). </p>

<p>Unfortunately, any time-saving customer delight moments were lost by missing the connection between a reservation-booked, on-premise customer and their mobile app.</p>

<h2 id="mastertheintegration">Master the Integration</h2>

<p>So who dropped the ball?
Marketing. </p>

<p>As the shepherds of the customer-experience, marketers need not only the ability to write a technology brief, but also the ability to talk shop with our development/vendor/partner team to make it come alive. Often, large companies will have individuals or teams dedicated to this, but if brand &amp; product marketers let outside team&#8217;s own the integration, the bridge between insight, strategy and execution will fall short. </p>

<p>I suggest that marketers do two things to increase their ability to integrate: learn the basics of software development and dive into the marketing landscape. </p>

<h3 id="learnthebasicsofsoftwaredevelopment">Learn the basics of software development</h3>

<p>At BYU where I completed my MBA recently, a number of entrepreneurial students spent their nights and weekends at a development bootcamp to improve their ability to work with their technical teams. I spent time time outside my marketing emphasis learning Apple&#8217;s Swift with a CS professor and learning Ruby on Rails and API creation as part of a <a href="https://latitudetours.com">tech startup team</a>. I&#8217;m no developer, but I can certainly speak the language now&#8211;and when our marketing site needs a feature, I don&#8217;t need to pull a developer off the product. There are a number of great resources for a quick-hitting education into nerd-land.</p>

<p>Check out a great post on Ray Wenderlich that will get you a sense of both iOS and Ruby on Rails web development all in one <a href="https://www.raywenderlich.com/85528/user-accounts-ios-ruby-rails-swift">tutorial</a>.</p>

<h3 id="diveintothemarketinglandscape">Dive Into the Marketing Landscape</h3>

<p>I&#8217;m always looking for more sources for marketing tech (please share), but here are a few go-to&#8217;s that are both on and off the beaten path:</p>

<h4 id="thestackieawards">The Stackie Awards</h4>

<p>I really like what <a href="http://martechconf.com/">MarTech</a> has done with the Stackie Awards, which consist of companies submitting a one-slide view of their entire marketing stack. It&#8217;s a great place to see how other companies are integrating multiple technologies into their marketing strategy. You can check out the 2016 MarTech Stackie awards on Scott Brinker&#8217;s blog, <a href="http://chiefmartec.com/2016/03/41-marketing-technology-stacks-2016-stackies-awards/">chiefmartec.com</a>.</p>

<h5 id="uberflipsmarketingstack">UberFlip&#8217;s Marketing Stack</h5>

<p><img src="http://cdn.chiefmartec.com/wp-content/uploads/2015/06/uberflip_marketing_tech_stack.png" alt="UberFlips Marketing Stack" /></p>

<h5 id="delphicdigitalsmarketingstack">Delphic Digital&#8217;s Marketing Stack</h5>

<p><img src="http://cdn.chiefmartec.com/wp-content/uploads/2016/03/delphic.jpg" alt="Delphic Digitals Marketing Stack" /></p>

<h4 id="gartner">Gartner</h4>

<p>Targeted at CMO&#8217;s and CTO&#8217;s, Gartner does a great job of evaluating technologies and vendors. Check out Gartner&#8217;s <a href="https://www.gartner.com/technology/research/digital-marketing/transit-map.jsp">guide to digital marketing transit</a>. (read: no paywall). <img src="https://www.gartner.com/imagesrv/marketing/img/Digi_Mktg_Map_Final_April_2015.gif;wa906e6d4fd8019817" alt="Gartner Digital Marketing Canvas" /></p>

<h4 id="othergreatsources">Other Great Sources</h4>

<p><a href="http://marketingland.com/">Marketing Land | Digital Marketing &amp; Martech News, Tactics &amp; Strategies</a><br>
 <a href="http://techcrunch.com/tag/marketing/">Marketing | TechCrunch</a><br>
 <a href="http://chiefmartec.com/">Chief Marketing Technologist - Marketing Technology Management</a></p>
            </div>
        </div>
    </div>
</article>
