<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/assets/work2.jpg')">
   <div class="container">
       <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               <div class="page-heading">
                   <h1 class="dark">Work</h1>
                   <hr class="small">
                   <span class="subheading">This is what I do.</span>
               </div>
           </div>
       </div>
   </div>
</header>

<!-- Projects Row -->
<div class="container">
  <div class="row">
      <div class="col-md-4 portfolio-item">
          <a href="#">
              <img class="img-responsive" src="/assets/latitude.jpg" alt="">
          </a>
          <h3>
              <a href="#">Latitude</a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
      <div class="col-md-4 portfolio-item">
          <a href="#">
              <img class="img-responsive" src="/assets/teamchallenge.jpg" alt="">
          </a>
          <h3>
              <a href="#">Team Challenge</a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
      <div class="col-md-4 portfolio-item">
          <a href="#">
              <img class="img-responsive" src="/assets/cougarcapital.jpg" alt="">
          </a>
          <h3>
              <a href="#">Cougar Capital</a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 portfolio-item">
          <a href="#">
              <img class="img-responsive" src="/assets/campbell.jpg" alt="">
          </a>
          <h3>
              <a href="#">Campbell Soup</a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
      <div class="col-md-4 portfolio-item">
          <a href="#">
              <img class="img-responsive" src="/assets/mbama.jpg" alt="">
          </a>
          <h3>
              <a href="#">BYU MBA Marketing</a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
      <div class="col-md-4 portfolio-item">
          <a href="#">
              <img class="img-responsive" src="/assets/maverik.jpg" alt="">
          </a>
          <h3>
              <a href="#">Maverik</a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
  </div>
</div>
